<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Японский кроссворд</title>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    {% if not error %}
        <script src='/socket.io/socket.io.js'></script>
    {% endif %}
</head>
<body>
    {% if error %}
        <h3 class="error"> {{ error }} </h3>
        <div class="login-page">
            <div class="form">
                <div style="margin-top: 18px;">
                    <form class="register" method="post" style="display: none;">
                        <input type="text" name="username" placeholder="username"/>
                        <input type="password" name="password" placeholder="password"/>
                        <button type="submit">Создать</button>
                        <p class="message">Уже зарегестрированы? <a href="#">Вход</a></p>
                    </form>
                    <form class="login" method="post">
                        <input type="text" name="username" placeholder="username"/>
                        <input type="password" name="password" placeholder="password"/>
                        <button type="submit">Войти</button>
                        <p class="message">Не зарегистрированы? <a href="#">Создать аккаунт</a></p>
                    </form>
                </div>
            </div>
        </div>
        <script src="/assets/js/unauth.js"></script>
    {% else %}
        <div class="container clearfix">
            <div class="field">
                <div class="puzzle">
                    <!-- Start-->
                    <fieldset id="levelSelect" class="disableSelect">
                        <legend>Уровень</legend>
                        Строки: <input type="number" id="gridR" min="1" maxlength="2" onKeyUp="pressKey(event)" value="6" /><br>
                        Колонки: <input type="number" id="gridC" min="1" maxlength="2" onKeyUp="pressKey(event)" value="6" /><br>
                        <input type="button" id="helpBtn" onclick="helpConfirm()" value="Помощь с подтвержденными строками / столбцами" /> <input
                            type="button" id="checkBtn" onclick="checkGridValid()" value="Проверить сетку" /><br>
                        <input type="button" id="inputBtn" onclick="genGrid()" value="Создать!" /> <input type="button" id="clearBtn"
                            onclick="clearGrid()" value="Все очистить" /> <input type="button" onClick="saveGrid();"
                            value="Сохранить текущее решение!" />
                    </fieldset>
                    <div id="output" class="disableSelect"></div>
                    <!--End-->
                </div>
            </div>
            <div class="chat">
                <div class="chat-header clearfix">
                    <div class="chat-about">
                        <div class="chat-num-users">Привет, <span id="name">{{ username }}</span></div>
                    </div>
                    <div class="controls">
                        <a href="#" class="logout-btn">Выйти</a>
                    </div>
                </div>

                <div class="chat-history">
                    <ul>
                    </ul>
                </div>

                <div class="chat-message clearfix">
                    <textarea name="message" placeholder ="Введите ваше сообщение" rows="3"></textarea>
                    <button type="submit">Отправить</button>
                </div>
            </div>
        </div>

        <script src="/assets/js/index.js"></script>
        <script src="/assets/js/auth.js"></script>
    {% endif %}
</body>
</html>